@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/* common */
:root {
  --bg-color: #152232;
  --bg-color-lighten: #1c2d42;
  --bg-color-darken: #0b1622;
  --primary-border-color: #9fadbd;
  --primary-text-color: #9fadbd;
  --primary-text-hover-color: #c7d1db;
  --btn-primary-bg-color: #3db4f2;
  --btn-primary-hover-bg-color: #18a6f3;
}

* {
  font-family: "Roboto", sans-serif;
}

/* default elements */
body {
  background-color: #152232;
}

/* logo area */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-text-color);
  text-align: center;
}

.logo h1 {
  font-size: 40px;
  margin-bottom: 8px;
}

/* search controls */
.controls-holder {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed var(--primary-border-color);
  border-radius: 10px;
  width: 50vw;
  padding: 20px 10px;
  background-color: var(--bg-color-darken);
}

.search-bar {
  margin-bottom: 15px;
  width: 80%;
  font-size: 17px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.search-bar:focus {
  outline: none;
}

.search-btn {
  width: 30%;
  font-size: 15px;
  text-transform: capitalize;
  padding: 5px;
  background-color: var(--btn-primary-bg-color);
  border: none;
  color: aliceblue;
  border-radius: 5px;
}

.search-btn:hover {
  background-color: var(--btn-primary-hover-bg-color);
}

/* search results */
.s-results-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.s-results {
  background-color: var(--bg-color-darken);
  border-radius: 10px;
  padding: 5px 20px;
  border: 2px dashed var(--primary-border-color);
  width: 70%;
  max-height: 55vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* search results scrollbar */
.s-results::-webkit-scrollbar {
  width: 2px;
}

.s-results::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--bg-color-lighten);
}

.s-results::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* search result  */
.s-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  margin: 10px 0 10px 0;
  padding: 7px;
  border-radius: 5px;
}

.s-result:hover {
  color: var(--primary-text-hover-color);
  background-color: var(--bg-color-lighten);
  cursor: pointer;
}

.s-result:hover .download-icon {
  display: unset;
}

.s-result:hover .download-source {
  display: none;
}

.s-result h3 {
  margin: 0;
  font-size: 15px;
}

/* s-result checkbox with matching styles */
.s-result input[type="checkbox"] {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid var(--primary-border-color);
  background-color: var(--bg-color);
  accent-color: var(--primary-text-color);
}

.download-icon {
  display: none;
  height: 18px;
}

/* loading spinner */
.spinner-img {
  width: 100px;
}

/* responsiveness */
@media only screen and (max-width: 530px) {
  .controls,
  .s-results {
    width: 80%;
  }
}

/* misc */
.hidden {
  display: none;
}

.s-result-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
